<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sq.transportmanage.gateway.dao.mapper.driverspark.ex.SupplierExtMapper" >
  <resultMap id="BaseResultMap" type="com.sq.transportmanage.gateway.dao.entity.driverspark.Supplier" >
    <id column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="supplier_full_name" property="supplierFullName" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="business_scope" property="businessScope" jdbcType="VARCHAR" />
    <result column="economic_type" property="economicType" jdbcType="VARCHAR" />
    <result column="registered_capital" property="registeredCapital" jdbcType="DECIMAL" />
    <result column="credit_code" property="creditCode" jdbcType="VARCHAR" />
    <result column="legal_person_name" property="legalPersonName" jdbcType="VARCHAR" />
    <result column="legal_person_phone" property="legalPersonPhone" jdbcType="VARCHAR" />
    <result column="legal_idcard" property="legalIdcard" jdbcType="VARCHAR" />
    <result column="charge_person_name" property="chargePersonName" jdbcType="VARCHAR" />
    <result column="charge_person_phone" property="chargePersonPhone" jdbcType="VARCHAR" />
    <result column="company_date" property="companyDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    supplier_id, supplier_name, supplier_full_name, merchant_id, province_id, province_name, 
    city_id, city_name, area_id, area_name, address, business_scope, economic_type, registered_capital, 
    credit_code, legal_person_name, legal_person_phone, legal_idcard, charge_person_name, 
    charge_person_phone, company_date, status, email, create_by, create_time, update_by, 
    update_time, remark
  </sql>

  <select id="selectListByMerchantId"  resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select supplier_id from base_supplier where  merchant_id =#{merchantId}
  </select>

</mapper>