<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sq.transportmanage.gateway.dao.mapper.driverspark.base.BaseMerchantCityConfigMapper" >
  <resultMap id="BaseResultMap" type="com.sq.transportmanage.gateway.dao.entity.driverspark.base.BaseMerchantCityConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="update_name" property="updateName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="service_status" property="serviceStatus" jdbcType="INTEGER" />
    <result column="region_number" property="regionNumber" jdbcType="VARCHAR" />
    <result column="ineffective_desc" property="ineffectiveDesc" jdbcType="VARCHAR" />
    <result column="pcode" property="pcode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, merchant_id, city_id, province_name, city_name, code, create_name, update_name, 
    create_date, update_date, service_status, region_number, ineffective_desc, pcode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from base_merchant_city_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.sq.transportmanage.gateway.dao.entity.driverspark.base.BaseMerchantCityConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into base_merchant_city_config (merchant_id, city_id, province_name, 
      city_name, code, create_name, 
      update_name, create_date, update_date, 
      service_status, region_number, ineffective_desc, 
      pcode)
    values (#{merchantId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityName,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, 
      #{updateName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{serviceStatus,jdbcType=INTEGER}, #{regionNumber,jdbcType=VARCHAR}, #{ineffectiveDesc,jdbcType=VARCHAR}, 
      #{pcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sq.transportmanage.gateway.dao.entity.driverspark.base.BaseMerchantCityConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into base_merchant_city_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="updateName != null" >
        update_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="serviceStatus != null" >
        service_status,
      </if>
      <if test="regionNumber != null" >
        region_number,
      </if>
      <if test="ineffectiveDesc != null" >
        ineffective_desc,
      </if>
      <if test="pcode != null" >
        pcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null" >
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceStatus != null" >
        #{serviceStatus,jdbcType=INTEGER},
      </if>
      <if test="regionNumber != null" >
        #{regionNumber,jdbcType=VARCHAR},
      </if>
      <if test="ineffectiveDesc != null" >
        #{ineffectiveDesc,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null" >
        #{pcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sq.transportmanage.gateway.dao.entity.driverspark.base.BaseMerchantCityConfig" >
    update base_merchant_city_config
    <set >
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null" >
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceStatus != null" >
        service_status = #{serviceStatus,jdbcType=INTEGER},
      </if>
      <if test="regionNumber != null" >
        region_number = #{regionNumber,jdbcType=VARCHAR},
      </if>
      <if test="ineffectiveDesc != null" >
        ineffective_desc = #{ineffectiveDesc,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null" >
        pcode = #{pcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sq.transportmanage.gateway.dao.entity.driverspark.base.BaseMerchantCityConfig" >
    update base_merchant_city_config
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      update_name = #{updateName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      service_status = #{serviceStatus,jdbcType=INTEGER},
      region_number = #{regionNumber,jdbcType=VARCHAR},
      ineffective_desc = #{ineffectiveDesc,jdbcType=VARCHAR},
      pcode = #{pcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>