<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sq.transportmanage.gateway.dao.mapper.driverspark.SaasPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.sq.transportmanage.gateway.dao.entity.driverspark.SaasPermission" >
    <id column="permission_id" property="permissionId" jdbcType="INTEGER" />
    <result column="parent_permission_id" property="parentPermissionId" jdbcType="INTEGER" />
    <result column="permission_code" property="permissionCode" jdbcType="VARCHAR" />
    <result column="permission_type" property="permissionType" jdbcType="TINYINT" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menu_open_mode" property="menuOpenMode" jdbcType="TINYINT" />
    <result column="valid" property="valid" jdbcType="BIT" />
    <result column="sort_seq" property="sortSeq" jdbcType="INTEGER" />
    <result column="merchantId" property="merchantId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    permission_id, parent_permission_id, permission_code, permission_type, permission_name, 
    menu_url, menu_open_mode, valid, sort_seq,merchantId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from auth_saas_permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.sq.transportmanage.gateway.dao.entity.driverspark.SaasPermission" >
    insert into auth_saas_permission (permission_id, parent_permission_id,
      permission_code, permission_type, permission_name, 
      menu_url, menu_open_mode, valid, 
      sort_seq,merchantId)
    values (#{permissionId,jdbcType=INTEGER}, #{parentPermissionId,jdbcType=INTEGER}, 
      #{permissionCode,jdbcType=VARCHAR}, #{permissionType,jdbcType=TINYINT}, #{permissionName,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{menuOpenMode,jdbcType=TINYINT}, #{valid,jdbcType=BIT}, 
      #{sortSeq,jdbcType=INTEGER},#{merchantId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sq.transportmanage.gateway.dao.entity.driverspark.SaasPermission" >
    insert into auth_saas_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        permission_id,
      </if>
      <if test="parentPermissionId != null" >
        parent_permission_id,
      </if>
      <if test="permissionCode != null" >
        permission_code,
      </if>
      <if test="permissionType != null" >
        permission_type,
      </if>
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="menuOpenMode != null" >
        menu_open_mode,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="sortSeq != null" >
        sort_seq,
      </if>
      <if test="merchantId != null" >
        merchantId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="parentPermissionId != null" >
        #{parentPermissionId,jdbcType=INTEGER},
      </if>
      <if test="permissionCode != null" >
        #{permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="permissionType != null" >
        #{permissionType,jdbcType=TINYINT},
      </if>
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuOpenMode != null" >
        #{menuOpenMode,jdbcType=TINYINT},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=BIT},
      </if>
      <if test="sortSeq != null" >
        #{sortSeq,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sq.transportmanage.gateway.dao.entity.driverspark.SaasPermission" >
    update auth_saas_permission
    <set >
      <if test="parentPermissionId != null" >
        parent_permission_id = #{parentPermissionId,jdbcType=INTEGER},
      </if>
      <if test="permissionCode != null" >
        permission_code = #{permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="permissionType != null" >
        permission_type = #{permissionType,jdbcType=TINYINT},
      </if>
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuOpenMode != null" >
        menu_open_mode = #{menuOpenMode,jdbcType=TINYINT},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="sortSeq != null" >
        sort_seq = #{sortSeq,jdbcType=INTEGER},
      </if>
    </set>
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sq.transportmanage.gateway.dao.entity.driverspark.SaasPermission" >
    update auth_saas_permission
    set parent_permission_id = #{parentPermissionId,jdbcType=INTEGER},
      permission_code = #{permissionCode,jdbcType=VARCHAR},
      permission_type = #{permissionType,jdbcType=TINYINT},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      menu_open_mode = #{menuOpenMode,jdbcType=TINYINT},
      valid = #{valid,jdbcType=BIT},
      sort_seq = #{sortSeq,jdbcType=INTEGER}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from saas_permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>

</mapper>